<!doctype html5>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<title>Template</title>
        <script type="text/javascript" charset="utf-8" src="js/yepnope.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/nemo.js"></script>
        <script type="text/javascript" charset="utf-8" src="template.js"></script>
        <script type="text/javascript">nemoInit([]);</script>         
        
		<link rel="stylesheet" type="text/css" href="css/reset.css" />       
        <link id="mainCSS" rel="stylesheet" type="text/css" href="css/designView.css" />
        <style type="text/css">
        body,td,th {
	font-family: Arial;
}
        </style>
</head>  
      
    <body>
   	<div id="contentDiv" style="position: absolute; left: 0px">
    <div class="slide" id="commentslide" style="display: block;">
    </div>
   	  <div class="slide" id="slide0">
   	    <div class="comment">1</div>
   	    <img src="../../palehorse/Template/images/zergling.png" width="196" height="173" class="nm_Image" style="position: absolute; left: 675px; top: 136px; visibility: hidden;" 1="1">
   	    <div class="nm_Exclamation" style="position: absolute; left: 662px; top: 467px; width: 67px; height: 30px; font-style: normal; font-weight: normal; visibility: hidden;" stay="2">1</div>
   	    <div class="nm_Explanation" style="position: absolute; left: 621px; top: 388px; visibility: hidden;">1</div>
   	    <div class="nm_TextField" style="position: absolute; left: 255px; top: 197px; text-align: left; font-style: normal; font-weight: normal; visibility: hidden;">1</div>
   	    <div class="nm_TextBubble" style="position: absolute; left: 559px; top: 312px; visibility: hidden;">1</div>
      </div>
      <div class="slide" id="slide1">
        <div class="comment">2</div>
        <span class="nm_Hatching_green" style="position: absolute; left: 461px; top: 76px; width: 256px; height: 256px; visibility: hidden;">2</span></div>
      <div class="slide" id="slide2">
        <div class="comment">3</div>
      </div>
      <div class="slide" id="slide3">
        <div class="comment">4</div>
        <div class="comment" style="position: absolute; left: 86px; top: 458px; visibility: hidden;">4</div>
        <div class="myAnimationName nm_Animation" id="myAnimationName" style="position: absolute; left: 512px; top: 322px; width: 500px; height: 300px; visibility: hidden;">4</div>
        <span class="nm_Hatching_green" style="position: absolute; left: 141px; top: 166px; width: 256px; height: 256px; visibility: hidden;">4</span><span class="nm_Hatching_red" style="position: absolute; left: 392px; top: 26px; width: 256px; height: 256px; font-family: Arial; visibility: hidden;">4</span></div>
      <div class="slide" id="slide4">
        <div class="comment">5</div>
      </div>
      <div class="slide" id="slide5">
        <div class="comment">6</div>
        <input class="nm_Input" style="position: absolute; left: 468px; top: 158px;" />
      <span class="nm_Hatching_green" style="position: absolute; left: 525px; top: 168px; width: 256px; height: 256px;"></span> </div>
      <div class="slide" id="slide6">
        <div class="comment">7</div>
      </div>
      <div class="slide" id="slide7">
        <div class="comment">8</div>
      </div>
      <div class="slide" id="slide8">
        <div class="comment">9</div>
      </div>
      <div class="slide" id="slide9">
        <div class="comment">10</div>
      </div>
      <div class="slide" id="slide10">
        <div class="comment">11</div>
      </div>
      <div class="slide" id="slide11">
        <div class="comment">12</div>
      </div>
   	</div>
    <header id="title" style="position: absolute; left: 66px; top: 22px;">Template</header>
    <div id="navigation" style="margin: 670px auto 0px auto; width:130px;">
      <button onClick="prev()" style="float:left;">Prev</button>
        <p id="slideIndex" style="float:left;">0/?</p>
        <button onClick="next()" style="float:left;">Next</button>
    </div>
    </body>
</html>
