<!doctype html5>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<title>Template</title>
        <script type="text/javascript" charset="utf-8" src="js/yepnope.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/nemo.js"></script>
        <script type="text/javascript" charset="utf-8" src="template.js"></script>
        <script type="text/javascript">nemoInit(["animations/starcrafts/starcrafts_edgePreload.js"]);</script>         
        
		<link rel="stylesheet" type="text/css" href="css/reset.css" />       
        <link id="mainCSS" rel="stylesheet" type="text/css" href="css/designView.css" />
        <style type="text/css">
        body,td,th {
	font-family: Arial;
}
        </style>
</head>  
      
    <body>
   	<div id="contentDiv">
   	  <div class="slide" id="slide0" style="left: 0px;">
   	    <div class="comment slidenumber">1</div>
   	    <div class="nm_TextField" style="position: absolute; left: 56px; top: 49px; width: 313px; height: 205px; text-align: left;">
   	      <p>maar hij doet</p>
   	      <p>het ongeveer</p>
   	      <p>&nbsp;</p>
        </div>
   	    <input type="range" class="nm_Input_range" style="position: absolute;" />
   	    <div class="nm_Hatching_green" style="position: absolute; left: 536px; top: 246px; width: 254px; height: 199px;" ></div>
   	    <div class="nm_Hatching_blue" style="position: absolute; left: 369px; top: 173px; width: 234px; height: 208px;" ></div>
   	    <span class="nm_Hatching_red" id="hatchingYo" style="position: absolute; left: 457px; top: 75px; width: 243px; height: 232px;" ></span>
   	    <div class="nm_Exclamation" style="position: absolute; left: 416px; top: 495px;">NM_Exclamation</div>
   	    <input name="test" type="text" class="nm_Input_text" id="word" style="position: absolute; left: 527px; top: 81px;"/>
   	    <div class="nm_TextField" style="position: absolute; left: 180px; top: 302px;">
   	      <p>Yarrr</p>
   	      <p>Daar kunnen we Natuurlijk meer text in zetten</p>
   	      <p>Enzo!</p>
        </div>
   	    <div class="nm_TextBubble" style="position: absolute; left: 161px; top: 193px; text-align: left;"> NM_TextBubble.<br />
   	      Dus dat betreft een ballon.<br />
   	      Meerdere regles zou geen probleem moeten zijn <span style="text-align: left"></span></div>
   	    <div class="nm_Explanation" style="position: absolute; left: 123px; top: 427px;">nm_Explanation</div>
   	    <div class="nm_Ground" style="position: absolute; left: 100px; top:571px;"></div>
      </div>
      <div class="slide" id="slide1" style="left: 1024px;">
        <div class="comment slidenumber">2</div>
        <div class="starcrafts nm_Animation" id="starcrafts" style="position: absolute; left: 0px; top: 240px; width: 1024px; height: 400px;"></div>
      <img src="images/pale horse solid.svg" class="nm_Image" style="position: absolute; left: 245px; top: 112px;" width="204" height="156"></div>
      <div class="slide" id="slide2" style="left: 2048px;">
        <div class="comment slidenumber">3</div>
        <div class="nm_TextField" style="position: absolute; left: 100px; top:300px;">Oh yeah. text baby!</div>
      </div>
      <div class="slide" id="slide3" style="left: 3072px;">
        <div class="comment">3</div>
        <div class="nm_TextField" style="position: absolute; left: 100px; top:300px;">NM_TextField</div>
      </div>
    </div>
    <header id="title" style="position: absolute; left: 66px; top: 22px;">Template</header>
    <div id="navigation" style="margin: 670px auto 0px auto; width:130px;">
      <button onClick="prev()" style="float:left;">Prev</button>
        <p id="slideIndex" style="float:left;">0/?</p>
        <button onClick="next()" style="float:left;">Next</button>
    </div>
    </body>
</html>
