!DOCTYPE HTML SYSTEM "-//Adobe//DWExtension layout-engine 10.0//floater">
<html xmlns:MMString="http://www.macromedia.com/schemes/data/string/">
	<head>
		<title>Slides manager</title>
		<script language="JavaScript">
			//CS6 Version!

			var block = true;
			var currentSlide = 1;
			
			function canShow(platform) {
				return 'true';
			}

			function initialSize() {
				return '60,60';
			}

			function selectionChanged() {
				//get the selected node
				
			}

			// update the document with any changes made by	the user in the textarea
			function updateScript() {
				var theDOM = dw.getDocumentDOM();
				if (theDOM != null) {
					var theNode = theDOM.getSelectedNode();
					theNode.innerHTML = "Whoa!";
				}
			}

			function isResizable() {
				return true;
			}
			
			function getTotalSlides() {
				var r = 0;
				var nodes = dw.getDocumentDOM().getElementById("tray").childNodes;
				for ( i = 0; i < nodes.length; i++) {
					if (nodes[i].class == "olo-slide")
						r++;
				}
				return r;
			}
			
			function addSlide() {
			
			}
			
			function removeSlide() {
			}
			
			function gotoSlide(slide_id) {
				var theDOM = dw.getDocumentDOM();
				var currentSlide = getCurrentSlide();
				var slideCount = 5;
				
				if (theDOM != null && slideCount > 0) {
					if(slide_id >= 0 && slide_id <= slideCount) {
						var trayPos = "margin-left: " + -960*(slide_id - 1) + "px";
						theDOM.getElementById("tray").setAttribute("style", trayPos);
						currentSlide = slide_id;
						document.getElementById("status").innerHTML = "Current slide: " + currentSlide;
						
						if(dw.canFitSize()) {
							dw.fitWidth();
						}
					} else if(slide_id > slideCount) {
						alert('Dit is de laatste slide.');
					} else {
						alert('Dit is de eerste slide.');
					}
					
				}
				

			}
			
			function getCurrentSlide() {
				
				var s = currentSlide;
				return s;
			
			}
			
			function nextSlide() {
				var goto = currentSlide++;
				gotoSlide(goto);
			}
			
			function prevSlide() {
				var goto = currentSlide--;
				gotoSlide(goto);
			}

		</script>

		<style>
			html, body, div {
				padding: 0px;
				margin: 0px;
				font-size: 12px;
				font-family: arial;
			}

			body {
				background-color: #bdbdbd;
			}

			input {
				width: 40px;
			}

		</style>

	</head>
	<body>
		<div id="maindiv">
			<div id="status">Current slide: 0</div>
			<input type="button" class="SlideButton AddButton" onclick="prevSlide();" value="Previous slide" />
			<input type="button" class="SlideButton AddButton" onclick="nextSlide();" value="Next slide" />
		</div>
	</body>
</html>