<!doctype html5>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<title>Template</title>
        <script type="text/javascript" charset="utf-8" src="js/yepnope.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/nemo.js"></script>
        <script type="text/javascript" charset="utf-8" src="template.js"></script>
        <script type="text/javascript">nemoInit([]);</script>         
        
		<link rel="stylesheet" type="text/css" href="css/reset.css" />       
        <link id="mainCSS" rel="stylesheet" type="text/css" href="css/designView.css" />
        <style type="text/css">
        body,td,th {
	font-family: Arial;
}
        </style>
</head>  
      
    <body>
   	<div id="contentDiv" style="position: absolute; left: 0px">
   	  <div class="slide" id="slide0" style="left: 0px;">
   	    <div class="comment">1</div>
   	    
   	    <div class="nm_Exclamation" style="position: absolute; left: 662px; top: 467px; width: 67px; height: 30px;">`x^2 alpha_z/(pi * Deltay)`</div>
        <div class="nm_Explanation" style="position: absolute; left: 621px; top: 388px;">Formules!</div>
   	    <div class="nm_TextField" style="position: absolute; left: 255px; top: 197px; text-align: left;">gebruik liever Shift+Enter in tekstvelden.<br>
   	      Een normale Enter is geen ramp hoor.
   	    </div>
        <div class="nm_TextBubble" style="position: absolute; left: 559px; top: 312px;">An explanation</div>
   	  </div>
      <div class="slide" id="slide1" style="left: 1024px;">
        <div class="comment">2</div>
        <div class="myAnimationName nm_Animation" id="myAnimationName" style="position: absolute; left: 512px; top: 322px; width: 500px; height: 300px;"></div>
      <span class="nm_Hatching_green" style="position: absolute; left: 141px; top: 169px; width: 256px; height: 256px;"></span><span class="nm_Hatching_red" style="position: absolute; left: 392px; top: 26px; width: 256px; height: 256px; font-family: Arial;"></span></div>
   	</div>
    <header id="title" style="position: absolute; left: 66px; top: 22px;">Template</header>
    <div id="navigation" style="margin: 670px auto 0px auto; width:130px;">
      <button onClick="prev()" style="float:left;">Prev</button>
        <p id="slideIndex" style="float:left;">0/?</p>
        <button onClick="next()" style="float:left;">Next</button>
    </div>
    </body>
</html>
